%margin-auto{
    margin-left: auto;
    margin-right: auto;
}
%background{
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
$font:"Roboto", sans-serif;
$trans_white:rgba(217, 217, 217, 0.7);
@mixin trans($property){
    transition: $property ease-out;
}
@mixin flex($property){
    display: flex;
    flex-direction: $property;
    flex-wrap: wrap;
    justify-content: space-between;
}
