@import '../perem.scss';
body {
  background-image: url(../../Photo_about_us/tropical-forest_4000x2666_hdd3p.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed, fixed;
  header {
    display: flex;
    max-width: 1980px;
    flex-direction: row;
    flex-shrink: 1;
    width: 100%;
    height: 10%;
    #logo {
      display: inline-block;
      position: relative;
      left: 5%;
      top: -2vw;
      width: 10vw;
      height: 10vw;
    }
    #soc {
      align-items: start;
      display: flex;
      img {
        margin-right: 10%;
      }
    }

    ul {
      width: 100%;
      margin: 0;
      box-sizing: content-box;
      display: flex;
      padding: 0;
      margin-left: 10vw;
      flex-direction: row;
      li {
        box-sizing: content-box;
        display: flex;
        margin-right: 6.5%;
        line-height: 50%;
        font-size: 2vw;
        a {
          white-space: nowrap;
          color: #fefefe;
          text-decoration: none;
          -webkit-text-stroke: 0.5px black;
          font-family: "Roboto";
        }
      }
    }
    #phone {
      display: flex;
      position: relative;
      margin-right: 3%;
      margin-left: auto;
      align-items: start;
      justify-content: flex-end;
      p {
        margin: 0;
        font-size: 1vw;
        font-weight: 100;
        display: inline-block;
        font-family: "Roboto";
        color: #fefefe;
      }
    }
    #mail {
      display: flex;
      align-items: start;
      justify-content: flex-end;
      margin-left: auto;
      p {
        margin: 0;
        font-size: 1vw;
        font-weight: 100;
        display: inline-block;
        font-family: "Roboto";
        color: #fefefe;
      }
    }
  }
  main {
    @include flex(row);
    font-family: "Roboto", sans-serif;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 5vw;
    flex-wrap: wrap;
    color: #fefefe;
    .break {
      flex-basis: 100%;
      height: 0;
    }
    div {
      margin-top: 5vw;
      display: flex;
      flex-direction: column;
      vertical-align: middle;
      h2 {
        font-weight: 300;
        @extend %margin-auto;
        width: auto;
      }
      img {
        display: inline-block;
        text-align: center;
        position: relative;
        left: 44%;
        width: 30px;
        height: 2vw;
        margin-bottom: 0;
        @include trans(0.5s);
      }
      p {
        margin: auto;
        margin-top: 0;
        width: 17vw;
        font-weight: 200;
        animation-name: slide;
        animation-duration: 1s;
      }
    }
    div:hover {
      img {
        translate: 0 -5vw;
        @include trans(0.5s);
      }
    }
  }
  footer {
    display: flex;
    max-width: 1980px;
    margin-top: 10vw;
    #soc {
      align-items: start;
      display: flex;
      position: relative;
      img {
        margin-top: 80%;
        margin-right: 10%;
      }
    }
    #logo {
      display: inline-block;
      position: relative;
      width: 10vw;
      margin-left: 40vw;
      margin-right: 0;
    }
    #phone {
      display: flex;
      margin-left: auto;
      align-items: start;
      justify-content: flex-end;
      margin-top: 4vw;
      margin-right: 2vw;
      p {
        margin: 0;
        font-size: 1vw;
        display: inline-block;
        font-family: $font;
        color: #fefefe;
        font-weight: 100;
      }
    }
    #mail {
      display: flex;
      align-items: start;
      justify-content: flex-end;
      margin-top: 4vw;
      position: relative;

      p {
        margin: 0;
        font-size: 1vw;
        display: inline-block;
        font-family: $font;
        color: #fefefe;
        font-weight: 100;
      }
    }
  }
}
@media screen and (max-width: 960px) {
  body {
    main.active {
      margin-top: 42vw;
    }
    main {
      flex-direction: column;
      padding: 0;
      div {
        img {
          width: 50px;
          height: 50px;
          position: relative;
          left: 43vw;
        }
        p {
          animation-name: slide_mobile;
          animation-duration: 1.5s;
          margin-right: 20vw;
          margin: 0;
          width: 95vw;
          height: auto;
        }
      }
    }
  }
}
@keyframes slide_mobile {
  from {
    background-color: white;
    filter: opacity(0.1);
    background-size: cover;
  }
  to {
    background-size: 0%;
  }
}
@keyframes slide {
  from {
    background-color: white;
    filter: opacity(0.1);
    height: 100%;
  }
  to {
    background-color: white;
    filter: opacity(0.6);
    height: 0%;
  }
}
